@use '../../styles/vars' as *;
@use '../../styles/mixins' as mixins;

.button {
  width: fit-content;
  padding: 10px 15px;
  color: $white;
  background-color: $green;
  border: none;
  font-weight: bold;
  border-radius: $borderRadiusSmall;
  cursor: pointer;
  user-select: none;
  position: relative;

  &:hover {
    background-color: $lightGreen;
  }

  &:active {
    background-color: #39d039;
  }

  &.disabled {
    pointer-events: none;
    background-color: #929292;
    color: #d9d9d9;
  }

  &.loading {
    @include mixins.loader($borderWidth: 3px, $size: 2px, $color: $white);

    .text {
      opacity: 0;
    }
  }
}
