@use '../../styles/vars' as *;
@use '../../styles/mixins' as mixins;

.loader {
  &.type-page {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    @include mixins.loader($borderWidth: 5px, $size: 60px, $color: $gray);
  }

  &.type-section {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    @include mixins.loader($borderWidth: 5px, $size: 60px, $color: $gray);
  }
}
