@use './vars' as *;
@use 'include-media/dist/include-media' as includeMedia;

@mixin link($color: $blue, $hoverColor: $red) {
  color: $color;
  transition: color 200ms ease;

  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin media($media...) {
  @include includeMedia.media($media...) {
    @content;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}
