$white: #ffff;
$black: #000000;
$blue: blue;
$red: rgb(143, 0, 0);
$lightRed: rgb(255, 150, 150);
$green: rgb(11, 117, 11);
$lightGreen: rgb(8, 187, 8);
$gray: rgb(122, 113, 113);

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;

$borderRadiusSmall: 3px;
