@use './vars' as *;
@use 'reset-css/sass/reset';
@forward './mixins';

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

body {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  background: $defaultBackgroundColor;
  color: $defaultTextColor;
  line-height: $defaultLineHeight;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
