@use '../../styles/vars' as *;
@use '../../styles/mixins' as mixins;

$breakpoint: '<=900px';

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  @include mixins.media($breakpoint) {
    flex-flow: column nowrap;
  }

  .navigation {
    height: auto;
    flex: 0 0 200px;
    padding: 20px 30px;
    border-right: 1px solid $black;
    @include mixins.media($breakpoint) {
      flex: 0 0 auto;
      overflow: visible;
      border-right: none;
      border-bottom: 1px solid $black;
    }

    .logo {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .menu {
      .item {
        &:not(:first-child) {
          margin-top: 5px;
        }

        .link {
          @include mixins.link;
        }
      }
    }
  }

  .content {
    overflow: auto;
    flex: 1;
    min-height: 0;
    padding: 20px 30px;
    @include mixins.media($breakpoint) {
      overflow-y: auto;
    }
  }
}
