@use '../../styles/vars' as *;
@use '../../styles/mixins' as mixins;

.createdAt {
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.author {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.likes {
  @include mixins.h2;
  margin-top: 20px;
  flex-direction: row;
  flex: 1;
  font-size: 14px;
}

.editButton {
  margin-top: 20px;
}

.blockIdea {
  margin-top: 10px;
}
