@use '../../styles/vars' as *;

.alert {
  padding: 10px;
  border-radius: $borderRadiusSmall;

  &.red {
    color: $red;
    background-color: $lightRed;
  }

  &.green {
    color: $green;
    background-color: $lightGreen;
  }

  &.blue {
    color: $blue;
    background-color: $lightBlue;
  }
}
